html, body{
    font-family: 'Roboto', sans-serif;
    margin:0 auto;
    padding:0;
}

a {
    text-decoration:none;
}

ul {
    list-style:none;
}



.cover {
    width:100%;
    height:250px;
    background-image:url(cover.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding:0;
    margin:0;
}

/* css header tablet */

.header-tablet {
    width:80%;
    height:480px;
    background-color:white;
    border-radius:20px;
    box-shadow: 0 5px 35px rgb(0 0 0 / 7%);
    margin:0 auto;
    margin-top:-100px;
}

.img-tablet {
    width:180px;
    height:180px;
    margin:0 auto;
}

.header-tablet img{
    width:180px;
    height:180px;
    margin:0 auto;
    margin-top:-50px;
    border-radius:20px;
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 5%);
}

.name-tablet {
    text-align:center;
    font-size:25px;
    margin-top:-30px;
}

.specialize-tablet {
    text-align:center;
    color:rgb(0, 0, 0, 0.7);
}

.social-tablet{
    width:140px;
    padding-left:10px;
    padding-right:10px;
    margin:0 auto;
    margin-top:20px;
    border-bottom:1px solid rgb(0, 0, 0, 0.3);
    padding-bottom:10px;
}

.social-tablet svg {
    width:20px;
    margin-left:15px;
}

.info-tablet {
    display:flex;
    width:80%;
    margin:0 auto;
    margin-top:20px;
}

.info-tablet h5{
    color:rgb(0, 0, 0, 0.7);
}

.margin-all {
    margin-top:-10px;
}

.left-info {
    float:left;
    margin-left:50px;
}

.right-info {
    float:right;
    margin-left:200px;
}

/* end css header tablet */

/* css header */

.header-box {
    width:80%;
    height:210px;
    box-shadow: 0 5px 35px rgb(0 0 0 / 7%);
    margin:0 auto;
    margin-top:-70px;
    background-color:white;
    border-radius:20px;
    display:flex;
}

.header-box-left {
    float:left;
    display:flex;
    width:45%;
    height:90%;
    border-right:1px solid rgb(0, 0, 0, 0.2);
    margin-top:7px;
}

.header-box-left img{
    width:180px;
    height:180px;
    overflow:hidden;
    border:5px solid white;
    margin-top:-40px;
    margin-left:40px;
    border-radius:25px;
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 5%);
}

.header-box-left h4{
    margin-left:25px;
    font-size:25px;
}

.specialize {
    display:inline-flex;
    margin-left:25px;
    margin-top:-25px;
    color:rgb(0, 0, 0, 0.7);
    font-size:15px;
}

.svg-header-left {
    margin-left:20px;
    margin-top:10px;
}

.svg-header-left svg{
    width:17px;
    padding:5px;
}

.header-box-right {
    float:right;
    display:flex;
    margin-right:20px;
    margin-left: 100px;
    color:rgb(0 0 0 / 0.8);
    margin-top:10px;
}

.header-box-right h5{
    color:rgb(0, 0, 0, 0.7);
}

.right-right-header {
    margin-left:100px;
}

.email-header div{
    margin-top:-10px;
}

.birthday-header {
    margin-left:0px;
}

.birthday-header div{
    margin-top:-10px;
}

.phone-header div{
    margin-top:-10px;
}

.location-header div {
    margin-top:-10px;
}

/* end css header */


/* css box-content */

.box-content {
    width:80%;
    height:900px;
    box-shadow: 0 5px 35px rgb(0 0 0 / 7%);
    background-color:white;
    margin:0 auto;
    border-radius:20px;
    margin-top:50px;
    margin-bottom:20px;
}

.box-content section{
    height:70px;
}

.option-content {
    width:100%;
    height:150px;
    margin:0 auto;
    display:flex;
    padding-top:50px;
    padding-bottom:20px;
    justify-content:center;
}

.option-content svg{
    width:40px;
    fill: none !important;
    stroke:black;
    margin-left:40px;
    margin-top:20px;
}

.option-content h4{
    font-size:22px;
    color:rgb(0, 0, 0, 0.8);
    text-align:center;
    margin-top:10px;
}

.tab-item.active{
    width:120px;
    height:120px;
    background-color:white;
    box-shadow: 0 5px 35px rgb(0 0 0 / 7%);
    border-radius:20px;
}

.tab-item {
    width:120px;
    height:120px;
    background-color:white;
    border-radius:20px;
    margin:auto 10px;
    cursor:pointer;
}

.tab-item:hover {
    box-shadow: 0 5px 35px rgb(0 0 0 / 7%);
}

.box-content h3{
    margin-top:-20px;
    font-size:25px;
    margin-left:50px;
}


.tab-pane.active {
    display:block;
    width:80%;
    height:600px;
    background-color:white;
    border-radius:20px;
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 5%);
    margin:0 auto;
}

.tab-pane {
    display:none;
    width:80%;
    height:600px;
    background-color:white;
    border-radius:20px;
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 5%);
    margin:0 auto;
}


.tab-pane.active h4 {
    font-size:20px;
    margin-left:50px;
    margin-top:50px;
}


.content-about {
    color:rgb(0, 0, 0, 0.7);
    display:flex;
    flex-direction: column;
}

.location-about {
    display:flex;
}

.skill-about {
    margin-left:50px;
    padding-bottom:90px;
}

.padding-skill {
    padding-top:5px;
}

.edu-resume-icon {
    display:flex;
    margin-left:100px;
}

.edu-resume-icon h4{
    font-size:20px;
    margin-top:15px;
    margin-left:10px;
}


.timeline-item {
    margin: 0 20 0 50px;
    border-left:1px solid rgb(0, 0, 0, 0.5);
    padding-left:20px;
}

.ContactForm {
   width:80%;
   margin:0 auto;
   display:inline-block;
   margin-left:100px;
}

.ContactForm input{
    border-radius:15px;
    height:40px;
}

.ContactForm textarea{
    border-radius:15px;
    height:70px;
    margin:0 auto;
}

.ContactForm button{
    border-radius:15px;
    padding:10px;
    background-color:aqua;
}

.edu-resume-icon svg{
    margin-left:-50px;
}



/* end css box-content */


/* css respomsive */

@media only screen and (max-width: 1230px) {
    .header-box-left {
        width:50%;
    }

    .left-right-header {
        margin-left:-70px;
    }
}

@media screen and (max-width:1150px) {
    .right-right-header {
        margin-left:50px;
    }
}

@media only screen and (max-width:1120px) {

    .header-box-left h4{
        font-size:20px;
    }

    .specialize {
        font-size:13px;
    }
}

@media only screen and (max-width:1090px) {
    .email-header div, .birthday-header div, .phone-header div, .location-header div {
        font-size:15px;
    }

    .tab-item.active {
        width:100px;
        height:100px;
    }

    .tab-item {
        width:100px;
        height:100px;
        margin-left:30px;
    }

    .option-content svg{
        margin-left:35px;
        width:30px;
    }

    .option-content h4{
        font-size:20px;
    }
}

@media screen and (max-width:1040px) {
    .header-box-left img{
        margin-left:20px;
    }
}




@media screen and (max-width:1015px) {
    .right-right-header {
        margin-left:30px;
    }

    .tab-item {
        margin-left:20px;
    }

    
}


@media screen and (min-width:976px) {
    .header-tablet {
        display:none;
    }
}

@media screen and (max-width:1024px) {
    .header-tablet {
        display:block;
    }

    .header-box {
        display:none;
    }
}


@media screen and (max-width:975px) {
    .header-box {
        display:none;
    }

    .header-tablet {
        display:block;
    }

    .box-content h3{
        text-align:center;
        margin-left:0px;
    }

    .tab-pane.active h4{
        text-align:center;
        margin-left:-30px;
    }

}

@media screen and (max-width:910px) {

    .option-content {
        padding-bottom:0px;
    }


    .tab-item {
        width:80px;
        height:80px;
    }

    .tab-item.active {
        width:80px;
        height:80px;
    }

   

    .option-content svg{
        width:25px;
        margin-left:27px;
        margin-top:15px;
    }

    .option-content h4 {
        font-size:15px;
    }
}

@media screen and (max-width:900px) {
    .left-info {
        float:left;
        margin-left:50px;
    }
    
    .right-info {
        float:right;
        margin-left:170px;
    }
}

@media screen and (max-width:850px) {
    .left-info {
        float:left;
        margin-left:70px;
    }
    
    .right-info {
        float:right;
        margin-left:100px;
    }
}







@media screen and (max-width:750px) {
    .option-content {
        display:none;
    }

    .tab-pane.active {
        height:auto;
        width:100%;
    }

    .box-content {
        height:600px;
    }

    .mobMn {
        display:block;
    }
}

@media screen and (max-width:767px) {
    .left-info {
        float:left;
        margin-left:30px;
    }
    
    .right-info {
        float:right;
        margin-left:80px;
    }
}

@media screen and(max-width:736px) {

    .info-tablet {
        width:95%;
    }

    .left-info {
        margin-left:30px;
    }
    
    .right-info {
        margin-left:80px;
    }
}

@media screen and (max-width:675px) {
    .left-info {
        margin-left:15px;
    }
}


@media screen and (max-width:649px) {
    .info-tablet {
        display:none;
    }

    .header-tablet {
        height:300px;
    }
}

/* end css responsive */